@import "header";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; }
  
  header {
    padding: 50px;
    background-color: transparent;
    background-position: center;
    text-align: center;
    background-image: url("../multimedia/2.jpg");
    color: rgba(249, 243, 114, 0.576);
    background-size: 100% 270%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px #341515;
    font-style: italic; 
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #333; 
    a {
      color: white;
      padding: 14px 20px;
      text-decoration: none; }
    }