
/*@media(min-width: 1200px){
  nav, .servicios, .footer , {
      width:60%;
      margin:auto;
  }
}


// Pantallas medianas

@media(max-width:768px){
  .div, .tipo-servicios{
      flex-direction: column;
  }
  

  .div{
      text-align:center;
      margin-bottom: 30px;
  }

  nav{
      @include caja-flex(center, center, wrap);
      padding-bottom: 20px;
      padding-top:20px;
      ul{
          padding-left:0;
      }
  }
}


// Pantallas pequeñas

@media(max-width:480px){

   .div{
      text-align:center;
      margin-bottom:30px;
      h1, p{
          padding:0;
      }
  }
}*/