@import "variables";
@import "contactos";
@import "footer";
@import "mediaqueries";


  * {
    padding: 0;
    margin: 0;
    }
  
  
.seccion {
  
  
    flex: 30px;
    background-color: rgb(171, 253, 234);
    padding: 20px;
  
  }
  
  
  
 /* @media screen and (max-width: 350px) {
  
   
  }*/
  
  /*img {
    max-width: 95%;
    width: 320px;
    height: 260px;
  
  }*/
  
 /*h*/
   
 .h1text {
    font-size: $titulosgrade;
    font-family: $tipografia-general;
    color: $colorprincipal2;
  }
 
  
  .h2text {
    font-size: $titulosgrade;
    color: $colorsecundario;
    text-decoration:solid;
    font-family: $tipografia-alternativa2;
  }
  
  .h3text {
    color: $colorprincipal5;
    text-decoration:solid;
    font-size: $titulosgrade;
  }

  .h4text {
    color: $colorsecundario;
    text-decoration:solid;
    font-size: $titulosgrade;
  }





  
  
  /*formulario*/
  
  .contact_form {
    width: 460px;
    height: auto ;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: $colorsecundario2;
    padding-left: 30px;
  }
  
  
  input {
    background-color: $color-blanco;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $colorprincipal;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; 
    
    
  }
  
  label {
    display: block;
    float: center;
  }
  
  button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: $colorsecundario;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }
  
  
  button p {
    color: #fff;
  }
  
  
  .obligatorio {
    color: $colorsecundario4;
  }
  
  
  .aviso {
    font-size: 13px;
    color: #0e0e0e;
  }
  
  
  h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
  }
  
  
  .aviso {
    font-size: 14px;
    color: #0e0e0e;
  }
  
  .formulario input:focus {
    outline: 0;
    border: 1px solid $colorprincipal3;
  }
  .formulario textarea:focus {
    outline: 0;
    border: 1px solid $colorprincipal3;
  }
  
  /*termina formulario*/
  
 
  



/*variables*/
  /*colores principales*/

$colorprincipal: hsl(7, 99%, 70%);
$colorprincipal2: hsl(51, 100%, 49%);
$colorprincipal3: hsl(167, 40%, 24%);
$colorprincipal4: hsl(198, 62%, 26%);
$colorprincipal5: hsl(168, 34%, 41%);
$colorfooter: #90d4c5;
$color-texto: #666;
$color-blanco:#ede3e3;


/*colores secundarios*/
  
$colorsecundario: hsl(212, 27%, 19%);
$colorsecundario2: hsl(213, 9%, 39%);
$colorsecundario3: hsl(232, 10%, 55%);
$colorsecundario4: hsl(210, 4%, 67%);
$colorsecundario5: #ffff;

/*tipografias*/

$tipografia-general: 'barlow', sans-serif;
$tipografia-alternativa: 'fraunces', serif;
$tipografia-alternativa2:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/*tamaños titulos*/

$titulosgrade: 20px;
$titulopequeño: 10px;
  

$espaciado-estandar: 10px;
$espaciado-doble: 20px;
  
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;


/*mediaqueries*/

$mediacelular-320: 320px;
$mediaTablet-640: 640px;
$mediaDesktop-1240:1240px;
  


  
  @mixin flexible ( $dis , $direction , $corte , $just , $aling ){

      display: $dis;
      flex-flow: $direction  $corte;
      justify-content: $just;
      align-items: $aling ;

  }
  
main{ 

  @include flexible(flex , row , nowrap , center , center);
  }  

section{
  @include flexible(flex , column, nowrap , flex-start , flex-start);

}
  $redes: (
      twitter: #55acee,
      facebook: #3a5795,
      instagram: #c53
  );
  
  
 @each $red, $color in $redes {
      .btn--#{$red} {
          background-color: $color;
      }
    }


    /*$estilos: ( 
      color: #367309,
      centro: center,
      tfuente: 35px,
      1rem : 1rem
      );


      @mixin container($ancho, $alto, $color) {
        width: $ancho;
        height: $alto;
        background-color: $colorprincipal;
        border-radius: 3%;
        text-align: center;
        margin: 5px;
      } 
      
      .pquienes{
        @include container(auto, auto,  $colorsecundario2)
      }*/

      
       
     
        
      
     
       


      
.parraf {
 
  font-family: $tipografia-alternativa;
  font-size: $fuente-grande;
   }

   .pvuelos{

    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: $fuente-grande;

   }     


   .h2vuelos{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: $fuente-grande;
   }
   
   
   .h3vuelos{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: $fuente-grande;


   }

   
/*animacion*/

.h1text{

  animation-duration: 3s;
  animation-name: slidein;

}

.h1text{
  font-size: 30px;
    color: rgba(24, 14, 14, 0.589);
  
  }


.h1text {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}



   /* footer */

.footer-style {
  padding-top: 50px;
  background-color: $colorfooter;
}
footer {
color: $colorsecundario3;
}

.footern{color: #c53;}




/*carrusel*/




.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-columns .card {
  display: inline-block;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px !important; 
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}




.imagens{ background: url(../multimedia/2.jpg);
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 500px;}

html{ height: 100%;

}
body{background-image: linear-gradient(#ffffff , rgb(255, 122, 89));
}

.parrfq{
  
    font: oblique bold 100% cursive;
  

}








 







