@import "variables";
@import "header";
@import "contactos";
@import "footer";
@import "mediaqueries";


* {
    padding: 0;
    margin: 0;
  
  }
  
  
  /*header {
  
    padding: 50px;
    
    background-color: transparent;
    background-position: center;
    text-align: center;
    
    color: rgba(249, 243, 114, 0.576);
    background-size: 100% 270%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px #341515;
    font-style: italic;
  }*/
  
  nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
  a {
    color: $colorprincipal;
    padding: 14px 20px;
    text-decoration: none;
  }
}
  
  
  
  .seccion {
  
  
    flex: 30px;
    background-color: rgb(171, 253, 234);
    padding: 20px;
  
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background-color: $colorprincipal;
  }
  
   @media screen and (max-width: 350px) {
  
   
  }
  
  img {
    max-width: 95%;
    width: 320px;
    height: 260px;
  
  }
  
 
    /*@media(min-width: 320px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
  
  /*@media(min-width: 768px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
  
  /* @media (min-width: 1200px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(3, 1 fr);
    }
  }*/
  
 
  
  .bratitulo {
    font-size: 40px;
    color: rgb(56, 79, 19);
  
  }
  
  .quiennav {
    display: flex;
    flex-direction: row;
    background-color: rgb(134, 44, 44);
     a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
 }
  }
  
  .quienparr h3 {
    color: $colorsecundario;
    text-decoration: solid;
  }
  
  .servinav {
    display: flex;
    flex-direction: row;
    background-color: rgba(64, 209, 214, 0.505);
  a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  
    }
}
  .vuelosnav {
  
    display: flex;
    flex-direction: row;
    background-color: rgb(8, 79, 104);
   a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    }
  }
  
  .servicios2 {
    background-color: aquamarine;
    text-align: center;
    color: rgba(249, 243, 114, 0.576);
    text-shadow: 2px 1px #341515;
    font-style: italic;
  }
  
  .lugart {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    text-align: left;
    color: rgb(194, 210, 20);
  }
  
  .tituloh1 {
    font-family: initial;
    color: $colorsecundario;
  
  }
  
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
  }
  
  
  input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #2e3114;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    float: center;
  }
  
  
  button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }
  
  
  button p {
    color: #fff;
  }
  
  
  .obligatorio {
    color: #052a23;
  }
  
  
  .aviso {
    font-size: 13px;
    color: #0e0e0e;
  }
  
  
  h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ab4493;
  }
  
  
  h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
  }
  
  
  .aviso {
    font-size: 14px;
    color: #0e0e0e;
  }
  
  .formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  .formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  
  .conttitu {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  
  }
  
  .titprincipal {
    color: #efdd4e;
  }
  
  .mainss p{
  color: brown;
  
  }
  .contactos{
    background-image: linear-gradient(left, rgb(238, 238, 96), rgb(241, 92, 92));
  }
  
  .footerquien{
    background-image: linear-gradient(left, rgb(0, 255, 251) , rgb(249, 96, 96));
  }
  
 
  

.footer-vuelos {
    
  margin-top: 80px;
  text-align: center;
  background-color: #595555;
  color: rgb(200, 147, 147);
}

.footer-servicios{  

  margin-top: 80px;
  text-align: center;
  background-color: $colorsecundario;
  color: rgb(246, 201, 104);

}

.footer-quienessomos{

  margin-top: 80px;
  text-align: center;
  background-color: $colorsecundario;
  color: rgb(104, 220, 246);

}

.footer-contactos{

  margin-top: 80px;
  text-align: center;
  background-color: #9888f3;
  color: rgb(83, 83, 83);


}



.row-headerr{
background-image: url("../multimedia/2.jpg");
}

.imagenn{
  background-image: url("https://infolibros.org/wp-content/uploads/2021/07/Libros-de-Aviones.jpg?ezimgfmt=ng:webp/ngcb33");
}

.servicios{

 background: url(../multimedia/servi.jpg) no-repeat  ;
 background-size: cover;
 height: 250px;
 width: center; 
 
}

/*variables*/
  
  $colorprincipal: rgb(127, 154, 195);
 
  $colorsecundario: rgb(151, 55, 55);
  
  $color-texto: #666;
  $color-blanco:#ede3e3;
  $titulosgrade: 20px;
  
  $titulopequeño: 10px;
  
  $espaciado-estandar: 10px;
  
  $espaciado-doble: 20px;
  
  $fuente-normal: 1em;
  $fuente-pequena: 0.8em;
  $fuente-grande: 1.4em;
  
  $tipografia-general: arial, verdana, sans-serif;
  $tipografia-alternativa: 'Times New Roman', Times, serif;

  $anchototal:300px;
  .cajaimagen{
  width: $anchototal/2;
  }
  
  $festividad: pascuas;
  
  /*body{
      @if $festividad == navidad{
  background-color: brown;
  } @else if $festividad == pascuas{
      background-color: rgb(33, 46, 46);
  } @else {
      background-color: chocolate;
      }
  }*/
  
  $redes: (
      twitter: #55acee,
      facebook: #3a5795,
      instagram: #c53
  );
  
  
  @each $red, $color in $redes {
      .btn--#{$red} {
          background-color: $color;
      }
    }


    $estilos: ( 
      color: #367309,
      centro: center,
      tfuente: 35px,
      1rem : 1rem
      );


      @mixin container($ancho, $alto, $color) {
        width: $ancho;
        height: $alto;
        background-color: $color;
        border-radius: 3%;
        text-align: center;
        margin: 5px;
      } 
      
      .box_uno{
        @include container(1245px, 250px, #676666)
      }

      .box_uno {
        color: #281414;}
    
       
      
        h1 {
          background-color: $colorprincipal;
          color: $color-blanco;
          font-family: $tipografia-alternativa;
          font-size: $fuente-grande;
          padding: $espaciado-estandar;
          text-transform: uppercase;
          border-radius: 12px;
        }

        div.destacado {
          border: 1px solid $colorsecundario;
          padding: $espaciado-estandar $espaciado-doble;
        }




    
      .quienbody{
        background-color: rgb(248, 83, 83);
      }

      .body-contac{
        background-color: #052a23;
      }
      

.qsomos{

background: url(../multimedia/banner.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
height: 600px;
}

.hvuelos{
  background: url(../multimedia/ep_avion_despegando.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px;
}

/*background-size: cover;
height: 250px;
width: center;*/


.titprincipal {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}

.h1servi {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}
.h1vuelos{


  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }


}

.h1quien{

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  }

  
  .contache{
    background: url(../multimedia/call-centers5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 600px;
  }