* {
  padding: 0;
  margin: 0;

}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {

  padding: 50px;
  background-color: transparent;
  background-position: center;
  text-align: center;
  background-image: url("../multimedia/2.jpg");
  color: rgba(249, 243, 114, 0.576);
  background-size: 100% 270%;
  background-repeat: no-repeat;
  text-shadow: 2px 2px #341515;
  font-style: italic;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #333;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}


aside {

  flex: 30px;
  background-color: rgb(232, 232, 142);
  padding: 20px;
}

.seccion {


  flex: 30px;
  background-color: rgb(171, 253, 234);
  padding: 20px;

}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 188, 86);
}

@media screen and (max-width: 350px) {

  nav,
  .rower {
    flex-direction: column;
  }

}

img {
  max-width: 95%;
  width: 320px;
  height: 260px;

}

.rower {

  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.selection {

  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}







@media(min-width: 320px) {
  .rower {
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
  }
}

@media(min-width: 768px) {
  .rower {
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
  }
}

@media (min-width: 1200px) {
  .rower {
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
  }
}

.urutitulo {
  font-size: 40px;
  color: rgb(66, 38, 6);
}

.rower aside {

  width: 70%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  margin-top: 100px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.seccion {

  width: 70%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif
}


.aside img {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;


}

.seccion img {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

}




.aside p {
  font-size: 18px;
  font-weight: 300;

}



.selection p {
  font-size: 18px;
  font-weight: 300;

}

.bratitulo {
  font-size: 40px;
  color: rgb(56, 79, 19);

}

.quiennav {
  display: flex;
  flex-direction: row;
  background-color: rgb(134, 44, 44);

}

.quiennav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;

}

.quienparr h3 {
  color: rgb(249, 71, 71);
  text-decoration: solid;
}

.servinav {
  display: flex;
  flex-direction: row;
  background-color: rgb(134, 214, 64);

}

.servinav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;

}

.vuelosnav {

  display: flex;
  flex-direction: row;
  background-color: rgb(8, 79, 104);

}

.vuelosnav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;

}

.servicios2 {
  background-color: aquamarine;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  text-shadow: 2px 1px #341515;
  font-style: italic;
}

.lugart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
  text-align: left;
  color: rgb(194, 210, 20);
}

.tituloh1 {
  font-family: initial;
  color: rgb(255, 165, 106);

}



body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #c9f8f5;
}


.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3114;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}










label {
  display: block;
  float: center;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: #fff;
}


.obligatorio {
  color: #052a23;
}


.aviso {
  font-size: 13px;
  color: #0e0e0e;
}


h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}


h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


.aviso {
  font-size: 14px;
  color: #0e0e0e;
}





.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}


.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.conttitu {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;

}

.titprincipal {
  color: #efdd4e;
}

.mainss p{
color: brown;

}
.contactos{
  background-image: linear-gradient(left, rgb(238, 238, 96), rgb(241, 92, 92));
}

.footerquien{
  background-image: linear-gradient(left, rgb(0, 255, 251) , rgb(249, 96, 96));
}


.imagenn img{
height: 150px;
width: 150px;
transform: scale(1.2);
}

.imagenn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}