@charset "UTF-8";
/*variables*/
/*colores principales*/
/*colores secundarios*/
/*tipografias*/
/*tamaños titulos*/
/*mediaqueries*/
.cajaimagen {
  width: 150px; }

.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

/*$estilos: ( 
        color: #367309,
        centro: center,
        tfuente: 35px,
        1rem : 1rem
        );
  
  
        @mixin container($ancho, $alto, $color) {
          width: $ancho;
          height: $alto;
          background-color: $colorprincipal;
          border-radius: 3%;
          text-align: center;
          margin: 5px;
        } 
        
        .pquienes{
          @include container(auto, auto,  $colorsecundario2)
        }*/
/*formulario*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #5a636c;
  padding-left: 30px; }

input {
  background-color: #ede3e3;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fe7867;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #23303e;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.obligatorio {
  color: #a7abae; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #25564b; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #25564b; }

/*termina formulario*/
footer {
  margin-top: 80px;
  text-align: center;
  background-color: #33383d;
  color: #666; }

/*@media(min-width: 1200px){
  nav, .servicios, .footer , {
      width:60%;
      margin:auto;
  }
}


// Pantallas medianas

@media(max-width:768px){
  .div, .tipo-servicios{
      flex-direction: column;
  }
  

  .div{
      text-align:center;
      margin-bottom: 30px;
  }

  nav{
      @include caja-flex(center, center, wrap);
      padding-bottom: 20px;
      padding-top:20px;
      ul{
          padding-left:0;
      }
  }
}


// Pantallas pequeñas

@media(max-width:480px){

   .div{
      text-align:center;
      margin-bottom:30px;
      h1, p{
          padding:0;
      }
  }
}*/
* {
  padding: 0;
  margin: 0; }

.seccion {
  flex: 30px;
  background-color: #abfdea;
  padding: 20px; }

/* @media screen and (max-width: 350px) {
  
   
  }*/
/*img {
    max-width: 95%;
    width: 320px;
    height: 260px;
  
  }*/
/*h*/
.h1text {
  font-size: 30px;
  font-family: "barlow", sans-serif;
  color: #fad400; }

.h2text {
  font-size: 30px;
  color: #23303e;
  text-decoration: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.h3text {
  color: #458c7e;
  text-decoration: solid;
  font-size: 30px; }

.h4text {
  color: #23303e;
  text-decoration: solid;
  font-size: 30px; }

/*formulario*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #5a636c;
  padding-left: 30px; }

input {
  background-color: #ede3e3;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fe7867;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #23303e;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.obligatorio {
  color: #a7abae; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #25564b; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #25564b; }

/*termina formulario*/
/*variables*/
/*colores principales*/
/*colores secundarios*/
/*tipografias*/
/*tamaños titulos*/
/*mediaqueries*/
main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start; }

.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

/*$estilos: ( 
      color: #367309,
      centro: center,
      tfuente: 35px,
      1rem : 1rem
      );


      @mixin container($ancho, $alto, $color) {
        width: $ancho;
        height: $alto;
        background-color: $colorprincipal;
        border-radius: 3%;
        text-align: center;
        margin: 5px;
      } 
      
      .pquienes{
        @include container(auto, auto,  $colorsecundario2)
      }*/
.parraf {
  font-family: "fraunces", serif;
  font-size: 1.4em; }

.pvuelos {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4em; }

.h2vuelos {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4em; }

.h3vuelos {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4em; }

/*animacion*/
.h1text {
  animation-duration: 3s;
  animation-name: slidein; }

.h1text {
  font-size: 30px;
  color: rgba(24, 14, 14, 0.589); }

.h1text {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

h1 {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/* footer */
.footer-style {
  padding-top: 50px;
  background-color: #90d4c5; }

footer {
  color: #818498; }

.footern {
  color: #c53; }

/*carrusel*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.card-columns .card {
  display: inline-block;
  width: 100%; }

.card-img-top {
  width: 100%;
  height: 200px !important;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px); }

.imagens {
  background: url(../multimedia/2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 500px; }

html {
  height: 100%; }

body {
  background-image: linear-gradient(#ffffff, #ff7a59); }

.parrfq {
  font: oblique bold 100% cursive; }
