.cajaimagen {
  width: 150px; }

/*body{
    @if $festividad == navidad{
background-color: brown;
} @else if $festividad == pascuas{
    background-color: aqua;
} @else {
    background-color: chocolate;
    }
}*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

/*body {
      height: 100%;
      font-family: 'Noto Sans', sans-serif;
      background-color: rgb(10, 58, 64);
  }*/
.index-body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #0a3a40; }

header {
  padding: 50px;
  background-color: transparent;
  background-position: center;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  background-size: 100% 270%;
  background-repeat: no-repeat;
  text-shadow: 2px 2px #341515;
  font-style: italic; }

nav {
  display: flex;
  flex-direction: row;
  background-color: #333; }
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.quiennav {
  display: flex;
  flex-direction: row;
  background-color: #862c2c; }
  .quiennav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.servinav {
  display: flex;
  flex-direction: row;
  background-color: #86d640; }
  .servinav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.vuelosnav {
  display: flex;
  flex-direction: row;
  background-color: #084f68; }
  .vuelosnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.row-headerr {
  background-image: url("../multimedia/2.jpg"); }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3114;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

.contactos {
  background-image: linear-gradient(left, #eeee60, #f15c5c); }

.footer-index {
  margin-top: 80px;
  text-align: center;
  background-color: #f14d79;
  color: #707070; }

.footerquien {
  background-image: linear-gradient(left, #00fffb, #f96060); }

.footer-vuelos {
  margin-top: 80px;
  text-align: center;
  background-color: #535353;
  color: #ea7b7b; }

.footer-servicios {
  margin-top: 80px;
  text-align: center;
  background-color: #c97979;
  color: #f6c968; }

.footer-quienessomos {
  margin-top: 80px;
  text-align: center;
  background-color: #9c9c68;
  color: #68dcf6; }

.footer-contactos {
  margin-top: 80px;
  text-align: center;
  background-color: #9888f3;
  color: #f168f6; }

/*@media(min-width: 320px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/*@media(min-width: 768px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/* @media (min-width: 1200px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(3, 1 fr);
    }
  }*/
@media screen and (max-width: 350px) {
  nav,
  .rower {
    flex-direction: column; } }

img {
  max-width: 95%;
  width: 320px;
  height: 260px; }

.rower {
  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px; }

.selection {
  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px; }

.urutitulo {
  font-size: 40px;
  color: #422606; }

/*.rower aside {
  
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
  }*/
/*.seccion {
  
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif
  }*/
/*.seccion img {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  
  }*/
/*aside {
  
    flex: 30px;
    background-color: rgb(232, 232, 142);
    padding: 20px;
  }*/
/* aside p {
    font-size: 18px;
    font-weight: 300;
  
  }*/
/*  .aside img {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  
  
  }*/
.selection p {
  font-size: 18px;
  font-weight: 300; }

.bratitulo {
  font-size: 40px;
  color: #384f13; }

.quienparr h3 {
  color: #f94747;
  text-decoration: solid; }

.servicios2 {
  background-color: aquamarine;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  text-shadow: 2px 1px #341515;
  font-style: italic; }

.lugart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
  text-align: left;
  color: #c2d214; }

.tituloh1 {
  font-family: initial;
  color: #ffa56a; }

.obligatorio {
  color: #052a23; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.conttitu {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.titprincipal {
  color: #efdd4e; }

.mainss p {
  color: brown; }

.imagenn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px; }
  .imagenn img {
    height: 150px;
    width: 150px;
    transform: scale(1.2); }

.row main {
  color: #e4923a;
  font-family: Arial, Helvetica, sans-serif; }

* {
  padding: 0;
  margin: 0; }

/*header {
  
    padding: 50px;
    
    background-color: transparent;
    background-position: center;
    text-align: center;
    
    color: rgba(249, 243, 114, 0.576);
    background-size: 100% 270%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px #341515;
    font-style: italic;
  }*/
nav {
  display: flex;
  flex-direction: row;
  background-color: #333; }
  nav a {
    color: #9c9c68;
    padding: 14px 20px;
    text-decoration: none; }

.seccion {
  flex: 30px;
  background-color: #abfdea;
  padding: 20px; }

footer {
  padding: 20px;
  text-align: center;
  background-color: #9c9c68; }

img {
  max-width: 95%;
  width: 320px;
  height: 260px; }

/*@media(min-width: 320px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/*@media(min-width: 768px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/* @media (min-width: 1200px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(3, 1 fr);
    }
  }*/
.bratitulo {
  font-size: 40px;
  color: #384f13; }

.quiennav {
  display: flex;
  flex-direction: row;
  background-color: #862c2c; }
  .quiennav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.quienparr h3 {
  color: #973737;
  text-decoration: solid; }

.servinav {
  display: flex;
  flex-direction: row;
  background-color: rgba(64, 209, 214, 0.505); }
  .servinav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.vuelosnav {
  display: flex;
  flex-direction: row;
  background-color: #084f68; }
  .vuelosnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.servicios2 {
  background-color: aquamarine;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  text-shadow: 2px 1px #341515;
  font-style: italic; }

.lugart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
  text-align: left;
  color: #c2d214; }

.tituloh1 {
  font-family: initial;
  color: #973737; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3114;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.obligatorio {
  color: #052a23; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

.conttitu {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.titprincipal {
  color: #efdd4e; }

.mainss p {
  color: brown; }

.contactos {
  background-image: linear-gradient(left, #eeee60, #f15c5c); }

.footerquien {
  background-image: linear-gradient(left, #00fffb, #f96060); }

.footer-vuelos {
  margin-top: 80px;
  text-align: center;
  background-color: #595555;
  color: #c89393; }

.footer-servicios {
  margin-top: 80px;
  text-align: center;
  background-color: #973737;
  color: #f6c968; }

.footer-quienessomos {
  margin-top: 80px;
  text-align: center;
  background-color: #973737;
  color: #68dcf6; }

.footer-contactos {
  margin-top: 80px;
  text-align: center;
  background-color: #9888f3;
  color: #535353; }

.row-headerr {
  background-image: url("../multimedia/2.jpg"); }

.imagenn {
  background-image: url("https://infolibros.org/wp-content/uploads/2021/07/Libros-de-Aviones.jpg?ezimgfmt=ng:webp/ngcb33"); }

.servicios {
  background: url(../multimedia/servi.jpg) no-repeat;
  background-size: cover;
  height: 250px;
  width: center; }

/*variables*/
.cajaimagen {
  width: 150px; }

/*body{
      @if $festividad == navidad{
  background-color: brown;
  } @else if $festividad == pascuas{
      background-color: rgb(33, 46, 46);
  } @else {
      background-color: chocolate;
      }
  }*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

.box_uno {
  width: 1245px;
  height: 250px;
  background-color: #676666;
  border-radius: 3%;
  text-align: center;
  margin: 5px; }

.box_uno {
  color: #281414; }

h1 {
  background-color: #7f9ac3;
  color: #ede3e3;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 12px; }

div.destacado {
  border: 1px solid #973737;
  padding: 10px 20px; }

.quienbody {
  background-color: #f85353; }

.body-contac {
  background-color: #052a23; }

.qsomos {
  background: url(../multimedia/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.hvuelos {
  background: url(../multimedia/ep_avion_despegando.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

/*background-size: cover;
height: 250px;
width: center;*/
.titprincipal {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.h1servi {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.h1vuelos {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.h1quien {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.contache {
  background: url(../multimedia/call-centers5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }
