.cajaimagen {
  width: 150px; }

/*body{
    @if $festividad == navidad{
background-color: brown;
} @else if $festividad == pascuas{
    background-color: aqua;
} @else {
    background-color: chocolate;
    }
}*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

/*body {
      height: 100%;
      font-family: 'Noto Sans', sans-serif;
      background-color: rgb(10, 58, 64);
  }*/
.index-body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #0a3a40; }

header {
  padding: 50px;
  background-color: transparent;
  background-position: center;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  background-size: 100% 270%;
  background-repeat: no-repeat;
  text-shadow: 2px 2px #341515;
  font-style: italic; }

nav {
  display: flex;
  flex-direction: row;
  background-color: #333; }
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.quiennav {
  display: flex;
  flex-direction: row;
  background-color: #862c2c; }
  .quiennav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.servinav {
  display: flex;
  flex-direction: row;
  background-color: #86d640; }
  .servinav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.vuelosnav {
  display: flex;
  flex-direction: row;
  background-color: #084f68; }
  .vuelosnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.row-headerr {
  background-image: url("../multimedia/2.jpg"); }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3114;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

.contactos {
  background-image: linear-gradient(left, #eeee60, #f15c5c); }

footer-index {
  margin-top: 80px;
  text-align: center;
  background-color: #f14d79;
  color: #707070; }

.footerquien {
  background-image: linear-gradient(left, #00fffb, #f96060); }

.footer-vuelos {
  margin-top: 80px;
  text-align: center;
  background-color: #535353;
  color: #ea7b7b; }

.footer-servicios {
  margin-top: 80px;
  text-align: center;
  background-color: #c97979;
  color: #f6c968; }

.footer-quienessomos {
  margin-top: 80px;
  text-align: center;
  background-color: #9c9c68;
  color: #68dcf6; }

.footer-contactos {
  margin-top: 80px;
  text-align: center;
  background-color: #9888f3;
  color: #f168f6; }

/*@media(min-width: 320px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/*@media(min-width: 768px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(2, 1 fr);
    }
  }*/
/* @media (min-width: 1200px) {
    .rower {
      display: grid;
      grid-template-columns: repeat(3, 1 fr);
    }
  }*/
@media screen and (max-width: 350px) {
  nav,
  .rower {
    flex-direction: column; } }

img {
  max-width: 95%;
  width: 320px;
  height: 260px; }

.rower {
  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px; }

.selection {
  grid-template: auto;
  flex-direction: column;
  align-items: center;
  gap: 30px; }

.urutitulo {
  font-size: 40px;
  color: #422606; }

selection p {
  font-size: 18px;
  font-weight: 300; }

.bratitulo {
  font-size: 40px;
  color: #384f13; }

.quienparr h3 {
  color: #f94747;
  text-decoration: solid; }

.servicios2 {
  background-color: aquamarine;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  text-shadow: 2px 1px #341515;
  font-style: italic; }

.lugart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
  text-align: left;
  color: #c2d214; }

.tituloh1 {
  font-family: initial;
  color: #ffa56a; }

.obligatorio {
  color: #052a23; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.conttitu {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.titprincipal {
  color: #efdd4e; }

.mainss p {
  color: brown; }

.imagenn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px; }
  .imagenn img {
    height: 150px;
    width: 150px;
    transform: scale(1.2); }

.row main {
  color: #e4923a;
  font-family: Arial, Helvetica, sans-serif; }

* {
  padding: 0;
  margin: 0; }

nav {
  display: flex;
  flex-direction: row;
  background-color: #333; }
  nav a {
    color: #9c9c68;
    padding: 14px 20px;
    text-decoration: none; }

.seccion {
  flex: 30px;
  background-color: #abfdea;
  padding: 20px; }

footer {
  padding: 20px;
  text-align: center;
  background-color: #9c9c68; }

img {
  max-width: 95%;
  width: 320px;
  height: 260px; }

.bratitulo {
  font-size: 40px;
  color: #384f13; }

.quienparr {
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 198, 85, 0.5); }
  .quienparr a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.quienparr h3 {
  color: rgba(78, 64, 64, 0.603);
  text-decoration: solid; }

.servinav {
  display: flex;
  flex-direction: row;
  background-color: rgba(64, 209, 214, 0.505); }
  .servinav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.vuelosnav {
  display: flex;
  flex-direction: row;
  background-color: #084f68; }
  .vuelosnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none; }

.servicios2 {
  background-color: aquamarine;
  text-align: center;
  color: rgba(249, 243, 114, 0.576);
  text-shadow: 2px 1px #341515;
  font-style: italic; }

.lugart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
  text-align: left;
  color: #c2d214; }

.tituloh1 {
  font-family: initial;
  color: rgba(78, 64, 64, 0.603); }

.contact_form {
  width: center;
  height: center;
  margin: auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3114;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #2d412f81;
  border-color: #ee1f1fc9;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.obligatorio {
  color: #052a23; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

.formularioh1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  color: #1a0c0c;
  width: 400px; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

.aviso {
  font-size: 14px;
  color: #0e0e0e; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

.conttitu {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.titprincipal {
  color: #efdd4e; }

.mainss p {
  color: brown; }

.footer-vuelos {
  margin-top: 80px;
  text-align: center;
  background-color: #595555;
  color: #c89393; }

.footer-servicios {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(78, 64, 64, 0.603);
  color: #f6c968; }

.footer-quienessomos {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(78, 64, 64, 0.603);
  color: #68dcf6; }

.footer-contactos {
  margin-top: 80px;
  text-align: center;
  background-color: #9888f3;
  color: #535353; }

/*variables*/
.cajaimagen {
  width: 150px; }

/*body{
      @if $festividad == navidad{
  background-color: brown;
  } @else if $festividad == pascuas{
      background-color: rgb(33, 46, 46);
  } @else {
      background-color: chocolate;
      }
  }*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #c53; }

.pquienes {
  width: 1245px;
  height: 250px;
  background-color: #fffb2491;
  border-radius: 3%;
  text-align: center;
  margin: 5px; }

.pquienes {
  color: #281414; }

h1 {
  background-color: #7f9ac3;
  color: #ede3e3;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 12px; }

div.destacado {
  border: 1px solid #973737;
  padding: 10px 20px; }

.quienbody {
  background-color: rgba(248, 189, 99, 0.466); }

.body-contac {
  background-color: #11998083; }

.bodyvuelos {
  background-color: #331a1a93; }

.qsomos {
  background: url(../multimedia/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.servicios {
  background: url(../multimedia/servi.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.hvuelos {
  background: url(../multimedia/ep_avion_despegando.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.headerindex {
  background: url(../multimedia/2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.contache {
  background: url(../multimedia/callcentercontac.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px; }

.contactosh1 {
  animation-duration: 3s;
  animation-name: slidein; }

.h1quien {
  animation-duration: 3s;
  animation-name: slidein; }

.tituloquien {
  font-size: 30px;
  color: rgba(24, 14, 14, 0.589); }

.titprincipal {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.h1servi {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.h1vuelos {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/* footer */
.footer-style {
  padding-top: 50px;
  background-color: #2C3E50; }

footer {
  color: white; }

footer h3 {
  margin-bottom: 30px;
  font-weight: 800; }

footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50; }

footer .footer-col {
  margin-bottom: 50px; }

footer .footer-below {
  padding: 25px 0;
  background-color: #233140; }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.card-columns .card {
  display: inline-block;
  width: 100%; }

.card-img-top {
  width: 100%;
  height: 200px !important;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px); }

.pquienes {
  font-style: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1 300px; }
